<div class="h3 mt-2 container">
  Arba, Nivel inicial
  <p class="card-text" style="font-size:small;">El curso está destinado para trabajadores/as de la Agencia de
    Recaudación de la provincia de Buenos Aires que se desempeñen en departamentos del área
    de Catastro. Su objetivo general es el de propiciar la adquisición de herramientas y
    saberes necesarios para el análisis de información
    Geográfica y herramientas de análisis de datos consolidando el manejo de la información
    geoespacial y
    producción de mapas.

    Modalidad: Virtual asincrónica

    Fecha: Del 25 de Febrero al 23 de Marzo

    Única clase "sincrónica" (sala de videoconferencia): Jueves 25/02 a las 10hs
</p>
</div>

<div class="centradora ag-theme-material" style="width: 100%; height: 60vh;">
  <ag-grid-angular style="width: 70%; height: 100%;" [rowData]="rowData" [columnDefs]="columnDefs"
    [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>