<div class="h3 mt-2 container">
    Arba, Nivel avanzado
    <p class="card-text" style="font-size:small;">
      El curso está destinado para trabajadores/as de la Agencia de Recaudación de la
      provincia de
      Buenos Aires que se desempeñen en departamentos del área de Catastro. Su objetivo
      general es
      Ofrecer a los/as trabajadores/as de ARBA las herramientas y saberes necesarios para la
      utilización del sistema en sus áreas consolidando el uso de herramientas de información
      georreferenciada, comprendiendo los geoprocesamientos generales, de manera tal que
      optimice
      la calidad de la información resultante por medio del análisis de los datos, su relación
      espacial con el territorio y vinculación con datos provenientes de distintas fuentes de
      información.


      Modalidad: Virtual asincrónica

      Fecha: Del 30 de Marzo al 30 de Abril

      Única clase "sincrónica" (sala de videoconferencia): Martes 30/03 a las 10hs
</p>
</div>
<div class="centradora ag-theme-material" style="width: 100%; height: 65vh;">
  <ag-grid-angular style="width: 70%; height: 100%;" [rowData]="rowData" [columnDefs]="columnDefs"
    [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>

