<div class="row">
    <div class="col">
        <div class="centradora">
            <ag-grid-angular style="width: 800px; height: 300px;" class="ag-theme-material" [rowData]="rowData"
                [columnDefs]="columnDefs" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>&nbsp;&nbsp;
        </div>
    </div>

    <div class="col mt-5 centradora">
        <table width="100%">
            <tr>
                <td>
                    <span>
                        Ver detalle del curso: 
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="botonVerCurso" class="btn btn-secondary"
                    (click)="onClickIrAlCurso()">{{cartelBotonSeleccion}}</button>
                </td>
            </tr>
        </table>
        <!-- <div style="display: flex; align-items:flex-start; justify-content:left;">
            <span >Ver detalle del curso: </span>
        </div>
        <div style="display: flex; align-items:flex-end; justify-content:right;">
            <button id="botonVerCurso" class="btn btn-secondary"
            (click)="onClickIrAlCurso()">{{cartelBotonSeleccion}}</button>
        </div>
         -->
    </div>

</div>

