<div class="centradora">
    <ag-grid-angular
    style="width: 650px; height: 300px;"
    class="ag-theme-material"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    >

    </ag-grid-angular>
    <!-- <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Oceba - Inst.de la Vivienda - Min. Infraestructura</h5>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nivel inicial</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="btn btn-secondary btn-sm" routerLink="/alumnos">Alumnos</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nivel avanzado</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="btn btn-secondary btn-sm" routerLink="/alumnos">Alumnos</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Arba</h5>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nivel inicial</h5>
                        <p class="card-text" style="font-size:x-small;">El curso está destinado para trabajadores/as de la Agencia de
                                Recaudación de la provincia de Buenos Aires que se desempeñen en departamentos del área
                                de Catastro. Su objetivo general es el de propiciar la adquisición de herramientas y
                                saberes necesarios para el análisis de información
                                Geográfica y herramientas de análisis de datos consolidando el manejo de la información
                                geoespacial y
                                producción de mapas.

                                Modalidad: Virtual asincrónica

                                Fecha: Del 25 de Febrero al 23 de Marzo

                                Única clase "sincrónica" (sala de videoconferencia): Jueves 25/02 a las 10hs
                            </p>
                        <a class="btn btn-secondary btn-sm" routerLink="/alumnos">Alumnos</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nivel avanzado</h5>
                        <p class="card-text" style="font-size:x-small;">
                                El curso está destinado para trabajadores/as de la Agencia de Recaudación de la
                                provincia de
                                Buenos Aires que se desempeñen en departamentos del área de Catastro. Su objetivo
                                general es
                                Ofrecer a los/as trabajadores/as de ARBA las herramientas y saberes necesarios para la
                                utilización del sistema en sus áreas consolidando el uso de herramientas de información
                                georreferenciada, comprendiendo los geoprocesamientos generales, de manera tal que
                                optimice
                                la calidad de la información resultante por medio del análisis de los datos, su relación
                                espacial con el territorio y vinculación con datos provenientes de distintas fuentes de
                                información.


                                Modalidad: Virtual asincrónica

                                Fecha: Del 30 de Marzo al 30 de Abril

                                Única clase "sincrónica" (sala de videoconferencia): Martes 30/03 a las 10hs
                            
                        </p>
                        <a class="btn btn-secondary btn-sm" routerLink="/alumnos">Alumnos</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>