<div class="row">
    <div class="col">
        <div class="centradora">
            <ag-grid-angular style="width: 800px; height: 300px;" class="ag-theme-material" [rowData]="rowData"
                [columnDefs]="columnDefs" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>&nbsp;&nbsp;
        </div>
    </div>
    <div class="col mt-5 centradora">
        <button class="btn btn-secondary" (click)="onClickIrAlCurso()">Curso {{cartelBotonSeleccion}}</button>
    </div>
</div>
