<div class="h3 mt-2 container">
  <p class="card-text" style="font-size:small;">
  Ipap, Nivel avanzado
  Desde el Instituto Provincial de la Administración Pública (IPAP) les damos la bienvenida al curso: Aula SIG Avanzado
  el mismo forma parte del programa de capacitaciones que desde el IPAP planificamos con el compromiso de hacer efectivo
  el derecho a la capacitación de todas/os las/os trabajadoras/es, basándonos en el logro de la equidad para facilitar
  el acceso a los conocimientos en igualdad de oportunidades. En este sentido, en tiempos de aislamiento social
  obligatorio por COVID- 19, el IPAP redobla sus esfuerzos, atendiendo las necesidades que devienen de los procesos de
  enseñanza y aprendizaje virtual en este contexto social. Dentro del aula virtual van a encontrar el programa con los
  contenidos del curso y un cronograma que les será de gran ayuda durante todo el trayecto formativo. Las vías de
  comunicación dentro del aula virtual van a ser los foros donde encontraran a los/las docentes y tutores a disposición
  para todas las dudas, consultas e información específica que requieran. Bienvenidos/as!
  </p>
</div>
<div class="centradora ag-theme-material" style="width: 100%; height: 65vh;">
  <ag-grid-angular style="width: 70%; height: 100%;" [rowData]="rowData" [columnDefs]="columnDefs"
    [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>