
<div class="bg-dark text-white py-3 px-3 mt-1">
    <div class="row text-center">
        <!-- <div class="col">
            <a class="btn btn-secondary btn-sm" routerLink="alumnos">Alumnos</a>
        </div> -->
        <!-- <div class="col">
            <a class="btn btn-secondary btn-sm" routerLink="integrador">Trabajo integrador</a>
        </div> -->
        <div class="col">
            <h2>Cursos Gis</h2>
        </div>
        <div class="col">
            <a class="btn btn-secondary btn-sm mt-2" routerLink="home">Inicio</a>
        </div>
    </div>
</div>